@import './base.css';

#app {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;   
    -moz-osx-font-smoothing: grayscale;
}

.alert {
    padding: 50px 0;
    font-size: 16px;
}

.slug p {
    font-weight: 600;
}
